{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block header_ext %}
    <link href="{% static 'css/c3.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/d3.min.js' %}"></script>
    <script src="{% static 'js/c3.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
            <div class="card-columns cols-2">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Répartition globale par domaine
                    </div>
                    <div class="card-block">
                        <div id="Graph-Domain" data-type="Domain__Name"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Répartition globale par catégorie
                    </div>
                    <div class="card-block">
                        <div id="Graph-Category" data-type="Category__Name"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Reste à faire par domaine
                    </div>
                    <div class="card-block">
                        <div id="Graph-Domain2" data-type="Domain__Name" data-filter="Done"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Reste à faire par catégorie
                    </div>
                    <div class="card-block">
                        <div id="Graph-Category2" data-type="Category__Name" data-filter="Done"></div>
                    </div>
                </div>
                <!--<div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Répartition par processus fonctionnel
                    </div>
                    <div class="card-block">
                        <div id="Graph-FuncProcess" data-type="FuncProcess__Name"></div>
                    </div>
                </div>   -->         
            </div>
            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
    $( document ).ready(function() {
        sendUrl="{% url 'api_taskgraph' %}";
        $("div[id^='Graph-']").each( function( index) {
        sendData = {"col": $(this).attr("data-type") };
        if($(this).attr("data-filter")!=undefined)
            sendData["data_filter"]=$(this).attr("data-filter");
            _this=this.id;

            $.ajax({
            url: sendUrl,
            async: false,
            data: sendData,
            success: function( data ) {
                var formatData=[];
                var tab={};
                data.forEach(function(e) {
                    formatData.push(e.data_t);
                    tab[e.data_t] = e.sum;
                }) ;
                c3.generate({
                    bindto: d3.select("#"+_this),
                    data: {
                        json: [ tab ],
                        keys:{
                            value: formatData,
                        },
                        type : 'pie'
                    }
                });
            }
            });
        });
    });
    </script>
{% endblock %}

    <!-- Bootstrap and necessary plugins -->
