{% extends 'ganttbase.html' %}
{% load static %}
{% load thumbnail %}
{% load i18n %}

{% block header_ext %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.css"/>
<link rel="stylesheet" href="//cdn.jsdelivr.net/angular.gantt/latest/angular-gantt-plugins.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="//cdn.jsdelivr.net/angular.gantt/latest/angular-gantt.min.js"></script>
<script src="//cdn.jsdelivr.net/angular.gantt/latest/angular-gantt-plugins.min.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="animated fadeIn">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Répartition globale par domaine
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div  ng-controller="MainCtrl">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
{% endblock %}

{% block page_script %}
    <script src="{% static 'js/gantt.js' %}"></script>
{% endblock %}

    <!-- Bootstrap and necessary plugins -->
