{% load static %}
        <script src="{% static 'js/todo.js' %}"></script>
        <aside class="aside-menu">
        <script type="text/javascript">
            $(document).ready(function(){
                $.ajax({
                  url: "{% url 'api_get_todo_list' %}",
                  data: {"option":"active"},
                  success: function( data ) {
                    $(".aside-menu").html(data);
                  }
                });
            });

        </script>  
        </aside>      