<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-puzzle"></i> Components</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                    </li>

                    <li class="nav-title">
                        UI Elements
                    </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-buttons' %}"><i class="icon-puzzle"></i> Buttons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-cards' %}"><i class="icon-puzzle"></i> Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-forms' %}"><i class="icon-puzzle"></i> Forms</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-modals' %}"><i class="icon-puzzle"></i> Modals</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-switches' %}"><i class="icon-puzzle"></i> Switches</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-tables' %}"><i class="icon-puzzle"></i> Tables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'components-tabs' %}"><i class="icon-puzzle"></i> Tabs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'icons-font-awesome' %}"><i class="icon-star"></i> Font Awesome</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'icons-simple-line-icons' %}"><i class="icon-star"></i> Simple Line Icons</a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'widgets' %}"><i class="icon-calculator"></i> Widgets <span class="badge badge-info">NEW</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'charts' %}"><i class="icon-pie-chart"></i> Charts</a>
                    </li>
                    <li class="divider"></li>
                    <li class="nav-title">
                        Extras
                    </li>
                </ul>
            </li>
            
            
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-calendar"></i> Scheduling</a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'taskdashboard' %}" target="_top"><i class="icon-grid"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tasklist' %}" target="_top"><i class="icon-list"></i> List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'taskgantt' %}" target="_top"><i class="icon-magic-wand"></i> Gantt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'taskgraph' %}" target="_top"><i class="icon-chart"></i> Graph</a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
</div>